# Ignore, as it will be different on all systems
*.netrwhist
*.bak

# Ignore files in bundle folder except for Vundle
bundle/

# Ignore files which should not be commited.
.gitconfig
.ssh/config
serverAliases.sh

# Ignore spelling binary file from vim
*.spl

.DS_Store
