# Ignore, as it will be different on all systems
*.netrwhist
*.bak

# Ignore plugins managed by vim-plug
.vim/autoload/
.vim/plugged/

# Ignore files which should not be commited.
.gitconfig
.ssh/config
serverAliases.sh

# Ignore spelling binary file from vim
*.spl

.DS_Store

# Temporary files
*.swp

# Virtual environments
venv/
