[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
	ignore = dirty
[submodule ".vim/bundle/CSApprox"]
	path = .vim/bundle/CSApprox
	url = git@github.com:godlygeek/csapprox.git
	ignore = dirty
[submodule ".vim/bundle/minibufexplorer"]
	path = .vim/bundle/minibufexplorer
	url = git@github.com:fholgado/minibufexpl.vim.git
	ignore = dirty
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
	ignore = dirty
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
	ignore = dirty
